body {
  background: linear-gradient(to bottom left, #1aa2b0, #0a68d3);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sevillana", cursive;
}

main {
  margin: 0 5%;
}

* {
  scroll-behavior: smooth;
}

::selection {
  background-color: #73b4ff;
}
