body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sevillana", cursive;
  letter-spacing: 2px;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 4px;
}

* {
  scroll-behavior: smooth;
}

::selection {
  background-color: #d19fc0;
}
